.autoplay-slider-wrapper {
    margin: 0 auto;
    max-width: 1200px; /* Adjust the max-width as needed */
  }
  
  .slick-slide {
    padding: 0 10px; /* Adjust the padding to add space between slides */
  }
  
  .slick-slide img {
    width: 100%;
    height: auto;
  }
  
  @media screen and (max-width: 768px) {
    .slick-slide {
      padding: 0; /* Remove padding on smaller screens */
    }
  }
  